@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for Registering, please confirm your account by clicking the link in the Email we just sent you.
    </p>
</div>